solutions/TestSolution/Workflows/startandwaitforapproval-Procedureowner-993FD24E-A14F-ED11-BBA1-000D3A3114A1.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedapprovals_564a4"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "57d1efed-c1af-4cd3-bc1e-f7c58c6b2569"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval_-_Procedure_owner": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4fa731ed-cb4c-4886-93ab-ad773eb3b0cc"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Please approve",
              "WebhookApprovalCreationInput/assignedTo": "Baby.Mukthipudi@lyondellbasell.com;",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Condition": {
          "actions": {
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b114e844-6d16-416d-a86f-7ef46f248c08"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "output": "Approved"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "title": "Output",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval_-_Procedure_owner": [
              "Succeeded"
            ]
          },
          "expression": {
            "contains": [
              "@outputs('Start_and_wait_for_an_approval_-_Procedure_owner')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "432aebd7-f7ba-4e69-b3bc-e67528e9b869"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}