solutions/TestSolution/Workflows/startandwaitforanapproval-MaintenanceManager-C6F6450E-A24F-ED11-BBA1-000D3A311EA6.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedapprovals_564a4"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6cc64cbe-16ec-4ac8-b103-7cccf17e131b"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "67f5f217-68bd-407e-8cf9-1577df6aac95"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Please Approve",
              "WebhookApprovalCreationInput/assignedTo": "Baby.Mukthipudi@lyondellbasell.com;",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Condition": {
          "actions": {
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4d838020-c7c0-497e-a5c7-bef36046ab08"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "output": "Approved"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "title": "Output",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "expression": {
            "contains": [
              "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b2922c6-cd89-426f-8c92-8b5bf6edbab3"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}