solutions/TestSolution/Workflows/StartandwaitforanapprovalReliabilityManager-01FB1C29-2A43-ED11-BBA1-000D3A5CE4A8.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedapprovals_02096"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4912b9e5-70fa-43f2-b246-33477164dae8"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            },
            "headersSchema": {
              "x-ms-user-name-encoded": {
                "title": "User name",
                "type": "string",
                "format": "byte",
                "x-ms-dynamically-added": false
              }
            }
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval_Reliability_Manager": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6f871d8a-7578-440e-b84f-47c68d9715d9"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Reliability Manager Approval for ",
              "WebhookApprovalCreationInput/assignedTo": "Baby.Mukthipudi@lyondellbasell.com;",
              "WebhookApprovalCreationInput/details": "Please approve",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Condition": {
          "actions": {
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "362ad304-fb02-49a2-b37e-d060d4818559"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "output": "Approved"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "title": "Output",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval_Reliability_Manager": [
              "Succeeded"
            ]
          },
          "expression": {
            "contains": [
              "@outputs('Start_and_wait_for_an_approval_Reliability_Manager')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "1814b67a-7bdd-4790-bc25-86572afd56aa"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}